/* CSS Reset */

* {
    margin: 0px;
    padding: 0px;

}

html {
    scroll-behavior: smooth;
}

/* css variables */
:root {
    --navbar-height: 59px;
}

#navbar {
    display: flex;
    align-items: center;
    /* position: sticky; */
    top: 0px;
}

#logo img {
    height: 100px;
    margin: 3px 6px;

}

#navbar {
    position: sticky;
}

#navbar ul {
    display: flex;
    font-family: 'Baloo bhai', cursive;

}

#navbar::before {
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;




}

#navbar ul li {
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a {
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
    color: white;

}

#navbar ul li a:hover {
    color: black;
    background-color: white;


}

#home {
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    justify-content: center;
    align-items: center;
    height: 640px;

}

#home::before {
    content: "";
    background: url('../bg1.jpg.jpg') no-repeat center center/cover;
    position: absolute;
    height: 100%;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: -1;
    opacity: 0.89;

}

#home h1 {
    color: white;
    text-align: center;
    font-family: 'Baloo bhai', cursive;
}

#home p {
    color: white;
    text-align: center;
    font-size: 1.5rem;
    /* font-family: 'Bree serif', serif; */
    /* font-family: 'Baloo bhai', cursive; */
    font-family: Arial, Helvetica, sans-serif;
}

#services {
    margin: 34px;
    display: flex;
}

#services .box {
    border: 2px solid brown;
    padding: 34px;
    margin: 3px 6px;
    border-radius: 28px;
    background: #f2f2f2;
}

#services .box img {
    height: 160px;
    display: block;
    margin: auto;
}

#services .box p {
    font-family: Arial, Helvetica, sans-serif;
}

#services {}

#services {}

#services {}

#client-section {
    /* height: 344px; */
    position: relative;

}

#client-section::before {
    content: "";
    position: absolute;
    background: url('../bg4.png');
    width: 100%;
    height: 95%;
    z-index: -1;
    opacity: 0.4;
}

#clients {
    display: flex;
    justify-content: center;
    align-items: center;
}

.client-item {
    padding: 40px;
}

#clients img {
    height: 125px;
}

#contact {
    position: relative;

}

#contact::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url('../contact2.jpg.jpg') no-repeat center center/cover;
}

#contact-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;

}

#contact-box input,
#contact-box textarea {
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
}

#contact-box form {
    width: 48%;
}

#contact-box label {
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif
}

footer {
    background: #000;
    color: white;
    padding: 9px 20ox;
}

.h-primary {
    font-size: 3.8rem;
    padding: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.h-secondary {
    font-size: 2.3rem;
    padding: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btn {
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;

}

.centre {
    text-align: center;
}